# Ignore everything
/*

# Not these files
!/.gitattributes
!/.gitignore
!/*.cmd
!/*.go
!/go.mod
!/go.sum
!/go.work
!/go.work.sum
!/LICENSE
!/README.md

# Not these directories
!/.vscode
!/examples
!/internal
!/scripts
